@import "../../index.scss";
// @import "../../style.scss";

.app__navbar {
  @include themify($themes) {
    width: 100%;
    height: 7.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: fixed;
    z-index: 2;
    border: 1px solid themed("border");
    background: themed("bg");
    color: themed('textColor');
  }


  .app__navbar-logo {
    @include themify($themes) {

      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 25px;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;

        @media screen and (min-width:2000px) {
          width: 180px;
          height: 40px;
        }

        // @media screen and(min-width: 300px) {
        //   img{
        //     padding-left: 5px;
        //   }
        // }
      }

      a {
        text-decoration: none;
      }

      h4 {
        font-size: 1.4rem;
        letter-spacing: 1px;
        // color: var(--secondary-color);
        color: themed("logo");
        font-weight: 1000;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        text-transform: uppercase;
        // font: normal bold 45px/ 72px var(--font-logo);
        font-family: var(--font-logo);

        @media screen and (max-width:900px) {
          // display: none;
          font-size: 1.3rem;
        }

        @media screen and (max-width:500px) {
          // display: none;
          font-size: 1rem;
        }

      }
    }
  }


  .app__navbar-theme {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--gray-color);
    font-weight: 500;
    padding-right: 75px;

    &:hover {
      color: var(--secondary-color);
    }

    @media screen and (min-width:400px) {
      padding-right: 75px;
    }

  }


  .app__navbar-links {
    @include themify($themes) {

      flex: 2;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-right: 100px;
      letter-spacing: 3px;
      padding-top: 10px;


      list-style: none;

      li {
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;


        div {
          width: 5px;
          height: 5px;
          background: transparent;
          border-radius: 50%;
          margin-bottom: 5px;
        }

        a {
          color: themed("textColorSoft");
          text-decoration: none;
          flex-direction: column;

          text-transform: uppercase;
          font-weight: 500;


          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--secondary-color);
          }
        }

        &:hover {
          div {
            background: var(--secondary-color);
          }
        }
      }

      @media screen and (max-width:900px) {
        display: none;
      }
    }
  }

  .app__navbar-menu {
    @include themify($themes) {

      width: 35px;
      height: 35px;
      border-radius: 50%;
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--secondary-color);

      svg {
        width: 70%;
        height: 100%;
        color: themed("bg");
      }

      div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;

        padding: 1rem;
        width: 80%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        // background: url('../../assets/bgWhite.png');
        // background-color: var(--white-color);
        background-color: themed("bgSoft");
        color: themed("bgSoft");
        background-size: cover;
        background-repeat: repeat;


        box-shadow: 0 0 20px rgba(169, 168, 168, 0.15);

        svg {
          width: 35px;
          height: 35px;
          color: var(--secondary-color);
          margin: 0.5rem 1rem;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;

          li {
            margin: 1rem;

            a {
              // color: var(--gray-color);
              color: themed("textColorSoft");
              text-decoration: none;
              font-size: 1rem;
              text-transform: uppercase;
              font-weight: 500;
              transition: all 0.3s ease-in-out;

              &:hover {
                div {
                  background: var(--secondary-color);
                }
              }
            }
          }
        }
      }

      @media screen and (min-width:900px) {
        display: none;
      }
    }
  }
}